# Framework
# ---------
YII_DEBUG = true
YII_ENV = dev

# Databases
# ---------
DB_DSN = mysql:host=localhost;port=3306;dbname=yii2-core
DB_USERNAME = root
DB_PASSWORD =
DB_TABLE_PREFIX =

# Urls
# ----
FRONTEND_URL = http://yii2-core.dev
BACKEND_URL = http://backend.yii2-core.dev
STORAGE_URL = http://storage.yii2-core.dev

# Other
# -----
TIMEZONE = UTC
LANGUAGE = en-US

FRONTEND_COOKIE_VALIDATION_KEY = <generated_key>
BACKEND_COOKIE_VALIDATION_KEY = <generated_key>

ADMIN_EMAIL = admin@yii2-core.dev
ROBOT_EMAIL = robot@yii2-core.dev

LINK_ASSETS = false

# Disqus
# ------
SHORT_NAME = yii2-core
